table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  height: 60%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table__education {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 80vh;
}
