.nav {
  float: right;
}
Nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links,
.links:hover,
.links:active {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
